# API Configuration
PORT=3000

# Redis Configuration
REDIS_HOST=haproxy-redis
REDIS_PORT=6379
REDIS_URL=redis://haproxy-redis:6379

# RabbitMQ Configuration
RABBITMQ_URL=amqp://admin:admin@haproxy-rabbit:5672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

# CockroachDB Configuration
COCKROACH_HOST=haproxy-crdb
COCKROACH_PORT=26260
COCKROACH_USER=root
COCKROACH_DATABASE=defaultdb
COCKROACH_URL=postgresql://root@haproxy-crdb:26260/defaultdb?sslmode=disable

# Initialization (API only)
INIT_QUEUES=true
