global
    maxconn 4096
    log stdout format raw daemon

defaults
    log     global
    mode    tcp
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend stats
    bind *:8401
    mode http
    stats enable
    stats uri /
    stats refresh 10s

